*.md filter=lfs diff=lfs merge=lfs -text
*.cst filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.params filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
*.cst !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.py !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.xyz !text !filter !merge !diff
*.params !text !filter !merge !diff
*.pdb !text !filter !merge !diff
